body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image:none;

}

.navbar {
 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0,0,0);
background: linear-gradient(140deg, rgba(0,0,0,1) 0%, rgba(54,37,9,1) 30%, rgba(248,223,105,1) 30%, rgba(252,224,87,1) 100%);
}

.logo-container img {
    width: 50px; /* ajuste conforme necessário */
    height: auto;
    border-radius: 50%;
}
.logo-container1 img {
    width: 40px; /* ajuste conforme necessário */
    
    
margin-right: 650px;}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    text-align: left;
}

.nav-links li {
    margin-right: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
}

.login-container {
    display: flex;
    align-items: center;
    color: #fff;
}

.login-container img {
    width: 20px; /* ajuste conforme necessário */
    height: auto;
    margin-left: 5px;
}
