body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
  }
  header {
   text-align: center;
    padding: 1em;
  }
  section {
    width: 300px;
    flex-shrink: 1px;
    border-radius: 20px;
    background: #FFF;
      margin-left: 70%;
      box-shadow: 0px 0px 14.8px 2px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin-bottom: 60px ;
    
  }
    
  label {
    display: block;
    margin-bottom: 8px;
  }
  input {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    width: 100%;
    padding: 15px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 80px;
  border-color: rgb(212, 206, 42);}               
                            
    
  .logo-container142 {
  text-align: center;
  width: 80px;
  height: 80px;
  max-width: 80px;
  }
  .logo-container142 img {
   margin-top: 100px;
   margin-left: 200px;
  }    
  img{  
    max-width: 190px;   
  }
  .logo{
    margin-top: 50px;
  }
  .meu-botao {
    margin-top: -20px;
    margin-bottom: 60px;
    
    background-color: #000000; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Preenchimento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: none; /* Remover borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-left:  850px
    
  }
  
  .meu-botao:hover {
    background-color: rgb(56, 56, 56); /* Cor de fundo ao passar o mouse */
  }
  
    h1{
      font-size: 40px;
     
    }
    
   .textarea{
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    border: 2px #000000;
   }
  
  
  
  