@import url('https://fonts.googleapis.com/css2?family=Unlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rambla:wght@700&display=swap');


.banner {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner p {
    width: 800px;
    position: absolute;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Unlock;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner img {
    width: 1500px;
}

.banner b {
    color: #EFBE11;;
}

.containerFloats {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-top: -234px;
}

.containerFloats > div {
    height: 700px;
    width: 400px;
    border-radius: 18px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.containerFloats > div > div:nth-child(2) {
    padding: 20px;
}

.containerFloats img {
    width: 400px;
    border-radius: 18px 18px 0 0;
}

.containerFloats h1 {
    color: #EFBE11;
    font-family: Dosis;
    font-weight: 700;
}

.containerFloats p {
    font-size: 30px;
    font-family: Dosis;
    font-weight: 500;
}

.brinde {
    padding: 40px 0 40px 0;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    background: rgba(239, 190, 17, 0.53);
    align-items: center;
}

.brinde > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brinde > div h1 {
    width: 500px;
    text-align: center;
    font-family: Koulen;
    font-size: 80px;
}

.brinde > div a {
    text-decoration: none;
    color: #FFF;
    padding: 20px;
    border-radius: 50px;
    border: #FFF solid 2px;
    text-align: center;
    font-family: Encode Sans;
    font-size: 40px;
}

.brinde img {
    align-items: center;
    width: 40%;
}

.containerKids {
    padding: 100px 0 100px 0;
    display: flex;    
    justify-content: space-around;
}

.containerKids > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerKids > div h1 {
    font-family: Rambla;
    font-size: 85px;
}

.containerKids >div > div {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}

.containerKids > div > div a {
    text-decoration: none;
    color: #EFBE11;
    padding: 20px;
    border-radius: 50px;
    border: #EFBE11 solid 2px;
    text-align: center;
    font-family: Encode Sans;
    font-size: 40px;
    height: 50px;
}

.containerKids > div > div img {
    transform: rotate(45deg);
    width: 120px;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(217, 217, 217, 0.58);
}

.flex > div:first-child img {
    border-radius: 100%;
}

.flex > div:first-child > div {
    top: -200px;
    left: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #FFF;
    border-radius: 100%;
    width: 500px;
    height: 500px;
    transform: translateX(250px) translateY(-220px);
}

.flex > div:first-child p {
    font-family: Encode Sans;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    width: 400px;
}

.flex > div:last-child form {
    display: flex;
    flex-direction: column;
}

.input-box {
    position: relative;
    width: 100%;
    height: 61px;
    border-radius: 20px;
    box-shadow: 0px 0px 14.8px 2px rgba(0, 0, 0, 0.25);
    margin: 39px 0;
    background-color: #FFF;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 24px;
    margin-left: 13px;
    font-family: Dosis;
    color: #777;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input {
    padding-right: 10px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    color: transparent;
}

.input-box input {
    width: 100%;
    height: 100%;
    padding-left: 13px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 0 35px 0 5px;
}